@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@font-face {
    font-family: 'HarryP';
    src: url('/assets/fonts/HarryP-Regular.ttf') format('truetype');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: url(/assets/images/background.png) ;
    font-family: 'HarryP', sans-serif;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #f0e4d7;
}

.header{
    font-family: 'HarryP', serif;
    font-size: 5em;
    color: #FFD700;
    text-shadow: 2px 2px 4px #000;
    margin: 20px;
    text-align: center;
    position: relative;
    animation: fadeIn 1.2s ease;
    /* backdrop-filter: blur(4px); */
    font-size: 1rem;
    font-weight:20;
    /* space the letters */
    letter-spacing: 0.2em;
}

.banner-flag{
    position: absolute;
    top: 0;
    left: 20px;
    width: 100px;
}

.quiz-container-neutral{
    background: linear-gradient(135deg, #1d1d1de2, #6a3d9ace);
    padding: 20px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    animation: fadeIn 1.2s ease;
    backdrop-filter: blur(10px);
    font-size: 1rem;
    font-weight: lighter;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

h1 {
    font-size: 2em;
    color: #ffcc00;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
}

#quiz h2 {
    margin-bottom: 1em;
    font-size: 1.5em;
    color: #ffdb8e;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.answer-button {
    background-color: #4D194D;
    /* color: #f0e4d7; */
    color: #F2E8FF;
    border: none;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.1em;
    transition: transform 0.2s, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.answer-button:hover {
    background-color: #C1A3E5;
    transform: translateY(-2px);
}

#next-btn {
    background-color: #4D194D;
    color: #FFD700;
    border: none;
    margin-top: 20px;
}

#next-btn:hover {
    background-color: #FFD700;
    color: #4D194D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#result {
    margin-top: 20px;
    font-size: 1.3em;
    color: #ffcc00;
    text-shadow: 1px 1px 2px #000;
}

.unclickable {
    cursor: not-allowed;
}

.hidden {
    display: none;
}

.question{
    font-family:'Times New Roman', Times, serif
}

.palettes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    width: 100%;
    height: auto;
    padding: 20px;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}

.palette{
/* div to display a color palette */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.color{
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    font-size: 10px;
    /* center horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
}

/* house specific styles */

/* Gryffindor */
.gryffindor {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, #3a0a0a, #000);
    color: #f0e4d7; /* Creamy white */
    text-align: center;
    flex-direction: column;
}

.gryffindor h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffcc00; /* Gold */
    text-shadow: 2px 2px 5px #000;
}

.gryffindor p {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #f0e4d7;
}

.quiz-container-Gryffindor {
    background: linear-gradient(135deg, #1d1d1de2, #ffcc00);
    padding: 20px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    animation: fadeIn 1.2s ease;
    backdrop-filter: blur(10px);
    font-size: 1rem;
    font-weight: lighter;
}

/* Slytherin */
.slytherin {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, #0d4221, #000);
    color: #d1ded1; /* Light silver-green */
    text-align: center;
    flex-direction: column;
}

.slytherin h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a8a8a8; /* Silver */
    text-shadow: 2px 2px 5px #000;
}

.slytherin p {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #d1ded1;
}

.quiz-container-Slytherin {
    background: linear-gradient(135deg, #1d1d1de2, #a8a8a8);
    padding: 20px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    animation: fadeIn 1.2s ease;
    backdrop-filter: blur(10px);
    font-size: 1rem;
    font-weight: lighter;
}

/* Ravenclaw */
.ravenclaw {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, #12264e, #000);
    color: #e2d1b5; /* Bronze-gold */
    text-align: center;
    flex-direction: column;
}

.ravenclaw h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #946b2d; /* Bronze */
    text-shadow: 2px 2px 5px #000;
}

.ravenclaw p {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #e2d1b5;
}

.quiz-container-Ravenclaw {
    background: linear-gradient(135deg, #1d1d1de2, #e2d1b5);
    padding: 20px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    animation: fadeIn 1.2s ease;
    backdrop-filter: blur(10px);
    font-size: 1rem;
    font-weight: lighter;
}

/* Hufflepuff */
.hufflepuff {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, #f2c400, #000);
    color: #1d1d1d; /* Dark black-gray */
    text-align: center;
    flex-direction: column;
}

.hufflepuff h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000; /* Black */
    text-shadow: 2px 2px 5px #fff;
}

.hufflepuff p {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #1d1d1d;
}

.quiz-container-Hufflepuff {
    background: linear-gradient(135deg, #1d1d1de2, #1d1d1d);
    padding: 20px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    animation: fadeIn 1.2s ease;
    backdrop-filter: blur(10px);
    font-size: 1rem;
    font-weight: lighter;
}


.body {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, #3a0a0a, #000);
    color: #f0e4d7;
}

.harry-potter-img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.harry-potter-img:hover {
    transform: scale(1.05) rotate(-2deg); /* Slight zoom and tilt for charm */
}

.harry-potter-img-container {
    position: relative;
    display: inline-block;
    padding: 10px;
    background: radial-gradient(circle at center, rgba(255, 249, 220, 0.7), rgba(153, 122, 89, 0.5));
    border-radius: 20px; /* Matches the enchanted theme */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* Glowing magical touch */
}

.gif{
    margin-top: 20px;
    width: 100%;
}